@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - serviTech</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/serviTech.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<body class="">
    @if (SignInManager.IsSignedIn(User))
    {
        <header class="">


            
                <div class="navbar-fixed">
                    <nav class="navbar white">
                        <div class="nav-wrapper valign-wrapper navbar">
                            <h4 class="h4-navbar">ServiTech</h4>
                        </div>
                    </nav>
                </div>
            
            <ul class="sidenav sidenav-fixed" id="menu-side">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="~/img/logo.jpg">
                        </div>
                        <a href="#user"><img class="circle" src="~/img/usuario.jpg"></a>
                        <a href="#name"><span class="white-text name">Lucas Orsini</span></a>
                        <a href="#email"><span class="white-text email">@User.Identity?.Name</span></a>
                    </div>
                </li>

                <li><a href="~/Clientes/Index"><i class="material-icons">supervisor_account</i>Clientes</a></li>
                <li><a href="~/Presupuestos/Index"><i class="material-icons">request_quote</i>Presupuestos</a></li>
                <li><a href="~/Ordenes/Index"><i class="material-icons">engineering</i>Ordenes de Trabajo</a></li>
                <li><a href="~/Stock/Index"><i class="material-icons">inventory</i>Stock</a></li>

                <li class="center-align">
                    <form class="" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="btn waves-effect waves-light"><i
                                class="material-icons left">airplay</i>Salir</button>
                    </form>
                </li>
            </ul>


        </header>

        @* <main class="main-content">
            <div class="container">
                
            </div>
        </main> *@
        

        <div class="" id="wrapper">
            <div id="page-content-wrapper">
                <div class="">
                    <main role="main" class="main">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/menu.js"></script>
    <script src="~/js/cliente.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
